<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}CS API{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        {% include "includes/css/variables.css" %}
        {% include "includes/css/styles.css" %}
    </style>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div class="wrap">
            {% include "includes/header.html" %}
        </div>
    </header>

    <div class="wrap">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="wrap">
            {% include "includes/footer.html" %}
        </div>
    </footer>

    <script>
        {% include "includes/js/base.js" %}
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>