{% extends "base.html" %}

{% block extra_css %}
<style>
    {% include "includes/css/fantasies.css" %}
</style>
{% endblock %}


{% block title %}Available Fantasies{% endblock %}

{% block content %}
<div class="wrap">
  <div class="card">
    <h2>Available Fantasy Spreadsheets</h2>

    <input type="text" id="searchInput" placeholder="Search fantasies...">

    <ul id="folderList">
      {% for folder, fantasy_name in folders.items() %}
        <li>
          <a href="/spreadsheet/{{ folder | urlencode }}">{{ fantasy_name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block scripts %}

<script>
  {% include "includes/js/fantasies.js" %}
</script>
{% endblock %}